<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Client Dashboard</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/popupform.css' %}" />
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
     <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
 
     <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="crossorigin="anonymous"></script>
   <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
   <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" ></script>
   <link rel="stylesheet" href="{% static 'css/table.css' %}">
  </head>
  <body>
    <div id="id01" class="modal" style="display: none;">
      <div class="wrapperx2">
        <br><br>
        <div class="wrapperx">
          <span onclick="zindexchanger2()" class="close-span">
            <i class="fa fa-times" aria-hidden="true"></i>
          </span>
          <div class="title">
            Add a Company
          </div>
          <form method="post" class="form" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="inputfield">
              <label>Client Name</label>
              <input name="clientname" type="text" class="input">
            </div>
            <div class="inputfield">
              <label>Client ID</label>
              <input name="username" type="text" class="input">
            </div>
            <div class="inputfield">
              <label>Set Password</label>
              <input name="password" type="password" class="input">
            </div>
            <div class="inputfield">
              <label>Confirm Password</label>
              <input name="password2" type="password" class="input">
            </div>  
            <br>
            <div class="inputfield">
              <button id="submitbtn" type="submit" value="Register" class="btn">SUBMIT</button>
            </div>
          </form>
        </div>
      </div>	
    </div>
    <div id="divx">
        <div id="wrap" class="folder">
            <div class="container">
                <img width="240px" src="{% static 'img/Logopng.webp' %}" alt=""><br><br>
                <h2><b>Client List</b></h2>
                <a style="float: left !important;text-decoration: none;" class="add" href="{% url 'adminlogin' %}">Back</a>
                <button type="button" onclick="zindexchanger()" class="add">Add Client</button>
                {% if error %}<p style="color: red;font-size: small;text-align: center;" class="section__title">{{error}}</p>{% endif %}
                <br><br>
                <table class="table table-fluid" id="myTable">
                <thead>
                <tr>
                   <th>Sr.No</th>
                   <th>Client ID</th>
                   <th>Client Name</th>
                   <th>Joining Date</th>
               </tr>
                </thead>
                <tbody>
                    {% for company in companies %}
                    <tr>  
                    <td data-label="Sr.No"><a href="{% url 'updatelist' company.id %}">{{forloop.counter}}</a></td>
                    <td data-label="Client ID"><a href="{% url 'updatelist' company.id %}">{{company.name}}</a></td>
                    <td data-label="Client Name"><a href="{% url 'updatelist' company.id %}">{{company.user.username}}</a></td>
                    <td data-label="Joining Date"><a href="{% url 'updatelist' company.id %}">{{company.user.date_joined.date}}</a></td>
                    {% endfor %}
                </tbody>
                </table>
            </div>
         </div>
    </div>
  </body>
<script>
  function zindexchanger(){
    document.getElementById('wrap').style.zIndex='99'
    $('#divx').fadeOut();
    document.getElementById('id01').style.display='block'
    $('#id01').fadeIn();
  }
  function zindexchanger2(){
    document.getElementById('id01').style.display='none'
    $('#divx').fadeIn();
    document.getElementById('wrap').style.zIndex='101'
  }
</script>
<script>
  function myFunction() {
    // Declare variables
    var input, filter, ul, li, a, i, txtValue;
    input = document.getElementById('myInput');
    filter = input.value.toUpperCase();
    ul = document.getElementById("myUL");
    li = ul.getElementsByTagName('li');
  
    // Loop through all list items, and hide those who don't match the search query
    for (i = 0; i < li.length; i++) {
      a = li[i].getElementsByTagName("span")[0];
      txtValue = a.textContent || a.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        li[i].style.display = "";
      } else {
        li[i].style.display = "none";
      }
    }
  }
  </script>
  <script>
    $(document).ready( function () {
    $('#myTable').DataTable();
} );
</script>
</html>