<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{company.name}} Dashboard</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'css/popupform.css' %}" />
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta charset="utf-8" />
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <title>Data Tables</title>
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
     <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
 
     <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="crossorigin="anonymous"></script>
   <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
   <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" ></script>
   <link rel="stylesheet" href="{% static 'css/table.css' %}">
   <!-- <script language="Javascript" src="{% static 'js/jquery.js' %}"></script> -->
    <script type="text/JavaScript" src="{% static 'js/state.js' %}"></script>
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        google.charts.load('current',{'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);
        google.charts.setOnLoadCallback(drawChart2);

        function drawChart(){
            var x = {{statuspie|safe}}
            var data = google.visualization.arrayToDataTable(x,false);
            var options={
                title: "Predictions"
            };
            var chart = new google.visualization.PieChart(document.getElementById('chart1'));
            chart.draw(data,options);

        }
        function drawChart2(){
            var x = {{wastepie|safe}}
            var data = google.visualization.arrayToDataTable(x,false);
            var options={
                title: "Waste Details"
            };
            var chart = new google.visualization.PieChart(document.getElementById('chart2'));
            chart.draw(data,options);
        }
    </script>
  </head>
  <body>
    <div id="id01" class="modal">
      <div class="wrapperx2">
        <div class="wrapperx">
          <span onclick="zindexchanger2()" class="close-span">
            <i class="fa fa-times" aria-hidden="true"></i>
          </span>
          <div class="title">
            Add an Update
          </div>
          <form method="post" class="form" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="inputfield4">
              <label style="width: 50%;">
                <span style="color:#074c74;width: 100%;margin-right: 3px;"></span>
              </label>
              <div style="display: flex;width: 100%;">
              <p style="margin-right: 3px;" class="input">Quantity</p>
              <p style="margin-right: 3px;" class="input">C.E.S</p>
              </div>
            </div>
            <div class="inputfield4">
              <label style="width: 50%;">
                <span style="color:#074c74;width: 100%;margin-right: 3px;">
                  <input onclick="enabledisable(this)" name="E Waste-check" class="wastechecks" type="checkbox">&nbsp;&nbsp;E Waste</span>
              </label>
              <div style="display: flex;width: 100%;">
              <input onkeyup="updateces(this)" style="margin-right: 3px;" id="E Waste-quantity" name="E Waste-quantity" type="number" class="input" min="1" disabled>
              <input id="E Waste-quantityCE" name="E Waste-quantityCE" type="number" class="input CE" min="0" disabled>
              </div>
            </div>
            <div class="inputfield4">
              <label style="width: 50%;">
                <span style="color:#074c74;width: 100%;margin-right: 3px;">
                  <input onclick="enabledisable(this)" name="Plastic-check" class="wastechecks" type="checkbox">&nbsp;&nbsp;Plastic</span>
              </label>
              <div style="display: flex;width: 100%;">
              <input onkeyup="updateces(this)" style="margin-right: 3px;" id="Plastic-quantity" name="Plastic-quantity" type="number" class="input" min="1" disabled>
              <input id="Plastic-quantityCE" name="Plastic-quantityCE" type="number" class="input CE" min="0" disabled>
              </div>
            </div>
            <div class="inputfield4">
              <label style="width: 50%;">
                <span style="color:#074c74;width: 100%;margin-right: 3px;">
                  <input onclick="enabledisable(this)" name="Paper-check" class="wastechecks" type="checkbox">&nbsp;&nbsp;Paper</span>
              </label>
              <div style="display: flex;width: 100%;">
              <input onkeyup="updateces(this)" style="margin-right: 3px;" id="Paper-quantity" name="Paper-quantity" type="number" class="input" min="1" disabled>
              <input id="Paper-quantityCE" name="Paper-quantityCE" type="number" class="input CE" min="0" disabled>
              </div>
            </div>
            <div class="inputfield4">
              <label style="width: 50%;">
                <span style="color:#074c74;width: 100%;margin-right: 3px;">
                  <input onclick="enabledisable(this)" name="Metal-check" class="wastechecks" type="checkbox">&nbsp;&nbsp;Metal</span>
              </label>
              <div style="display: flex;width: 100%;">
              <input onkeyup="updateces(this)" style="margin-right: 3px;" id="Metal-quantity" name="Metal-quantity" type="number" class="input" min="1" disabled>
              <input id="Metal-quantityCE" name="Metal-quantityCE" type="number" class="input CE" min="0" disabled>
              </div>
            </div>
            <div class="inputfield4">
              <label style="width: 50%;">
                <span style="color:#074c74;width: 100%;margin-right: 3px;">
                  <input onclick="enabledisable(this)" name="Others-check" class="wastechecks" type="checkbox">&nbsp;&nbsp;Others</span>
              </label>
              <div style="display: flex;width: 100%;">
              <input onkeyup="updateces(this)" style="margin-right: 3px;" id="Others-quantity" name="Others-quantity" type="number" class="input" min="1" disabled>
              <input id="Others-quantityCE" name="Others-quantityCE" type="number" class="input CE" min="0" disabled>
              </div>
            </div>
            <div class="inputfield" id="selection">
              <label>Location</label>
              <div style="display: flex;margin:0;width: 100%;">
                <div style="margin-right: 5px;" class="custom_select"><select name ="state" id="listBox" onchange='selct_district(this.value)'></select></div>
                <div class="custom_select"><select name="district" id='secondlist'></select></div>
              </div>
            </div>
            <div class="inputfield">
              <label>Status</label>
              <div class="custom_select">
                <select id="status" name="status" onchange="certificatedisplay()">
                  <option value="">Select</option>
                  <option value="In Process">In Process</option>
                  <option value="Completed">Completed</option>
                </select>
              </div>
            </div>
            <!-- <div class="inputfield">
                <label>Carbon Emission Saved</label>
                <input id="ces" name="ces" type="text" class="input" disabled>
            </div>  -->
            <div class="inputfield">
              <label>Certificate</label>
              <input id="certificate" name="certificate" type="file" class="input" disabled>
            </div>
            <div class="inputfield">
              <button id="submitbtn" type="submit" value="Register" class="btn">SUBMIT</button>
            </div>
          </form>
        </div>
      </div>	
    </div>
    <div id="divx">
        <div class="folder">
          <div class="container">
            <img style="width: 245px;" src="{% static 'img/ThrecoLogo.png' %}" alt=""><br><br>
            <!-- <img width="240px" src="{% static 'img/Logopng.webp' %}" alt=""><br><br> -->
            <h2><b>{{company.name}}</b></h2>
            {% if success %}<p style="color: green;font-size: small;text-align: center;" class="section__title">{{success}}</p>{% endif %}
            {% if error %}<p style="color: red;font-size: small;text-align: center;" class="section__title">{{error}}</p>{% endif %}
            <a style="float: left !important;text-decoration: none;" href="{% url 'companylist' %}">
              <button type="button" class="add">Back</button>
            </a>
            <a style="text-decoration: none;" href="{% url 'downloadexcel' company.id %}">
              <button type="button" class="add">Download Excel</button>
            </a>
            <button style="margin-right: 2px;" type="button" onclick="zindexchanger()" class="add">Add Update</button>
            <br><br>
          </div>
        </div>
        <div class="chartdiv container">
          <div class="wrapperx x">
            <h5>Status Pie Chart</h5>
            <div class="chart" id="chart1"></div>
          </div>
          <div class="wrapperx">
            <h5>Waste Category Pie Chart</h5>
            <div class="chart" id="chart2"></div>
          </div>
        </div>
        <div id="wrap" class="folder">
            <div class="container">
                <!-- <h2><b>{{company.name}}</b></h2> -->
                <table class="table table-fluid" id="myTable">
                <thead>
                <tr>
                   <th>Sr.No</th>
                   <th>Transaction ID</th>
                   <th>Waste Category</th>
                   <th>Waste Quantity</th>
                   <th>State</th>
                   <th>District</th>
                   <th>Status</th>
                   <th>Created At</th>
               </tr>
                </thead>
                <tbody>
                    {% for sub_update in sub_updates %}
                    <tr>  
                    <td data-label="Sr.No"><a href="{% url 'update_detail' sub_update.update.id %}">{{forloop.counter}}</a></td>
                    <td data-label="Transaction ID"><a href="{% url 'update_detail' sub_update.update.id %}">{{sub_update.update.transaction_id}}</a></td>
                    <td data-label="Waste Category"><a href="{% url 'update_detail' sub_update.update.id %}">{{sub_update.waste_category}}</a></td>
                    <td data-label="Waste Quantity"><a href="{% url 'update_detail' sub_update.update.id %}">{{sub_update.waste_quantity}}</a></td>
                    <td data-label="State"><a href="{% url 'update_detail' sub_update.update.id %}">{{sub_update.update.state}}</a></td>
                    <td data-label="District"><a href="{% url 'update_detail' sub_update.update.id %}">{{sub_update.update.district}}</a></td>
                    {% ifequal sub_update.update.status 'Completed' %}
                    <td data-label="Status"><a style="color: green;" href="{% url 'update_detail' sub_update.update.id %}"><b>{{sub_update.update.status}}</b></a></td>
                    {% else %}
                    <td data-label="Status"><a style="color: red;" href="{% url 'update_detail' sub_update.update.id %}"><b>{{sub_update.update.status}}</b></a></td>
                    {% endifequal %}
                    <td data-label="Created At"><a href="{% url 'update_detail' sub_update.update.id %}">{{sub_update.update.created_at.date|date:"d-m-Y"}}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
                </table>
            </div>
         </div>
    </div>
    <br><br>
  </body>
<script>
  function zindexchanger(){
    document.getElementById('wrap').style.zIndex='99'
    $('#divx').fadeOut();
    document.getElementById('id01').style.display='block'
    $('#id01').fadeIn();
  }
  function zindexchanger2(){
    document.getElementById('id01').style.display='none'
    $('#divx').fadeIn();
    document.getElementById('wrap').style.zIndex='101'
  }
</script>
<script>
  function certificatedisplay(){
    s=document.getElementById('status')
    c=document.getElementById('certificate')
    ca=document.getElementsByClassName('CE')
    if(s.value==='Completed'){
      c.disabled=false
      for(var i=0;i<ca.length;i++){
        ca[i].disabled=false
        p = ca[i].id.replace("CE","")
        q=document.getElementById(p)
        ca[i].max=q.value
      }
    }
    else{
      c.disabled=true
      for(var i=0;i<ca.length;i++){
        ca[i].disabled=true
      }
    }
  }
</script>
<script>
    $(document).ready( function () {
    $('#myTable').DataTable();
} );
</script>
<script>
  function enabledisable(x){
    waste = x.name.split("-")[0]
    waste+="-quantity"
    waste_quantity = document.getElementById(waste)
    if (x.checked){
      waste_quantity.disabled=false
    }
    else{
      waste_quantity.disabled=true
    }
  }
</script>
<script>
  function updateces(x){
    y=document.getElementById(x.id+"CE")
    y.max=x.value
  }
</script>
</html>